.page-header-image {
    background-image:  url("../images/sand-dunes.png");
    background-position: top left;
    background-size: cover;
}

/*.page-header h1 {
	margin-top: 2.5em;
	margin-bottom:0;
	padding-bottom:0;
}*/
