/* Header Custom Styling */
.page-header-image {
    background-image:  url("../images/sand-dunes.png");
    background-position: top left;
    background-size: cover;
}

/* Shopping Cart Custom Styling */
.cart-head {
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.75em;
    padding-bottom: .25em;
    border-bottom: 2px solid rgba(0,0,0,.25);
}

.cart-row {
    font-size: 1.25em;
    padding: .25em 0;
    border-bottom: 1px solid rgba(0,0,0,.25);
    vertical-align: middle;
}

.ticket-count {
    display: inline-block;
    width: 49%;
    text-align: right;
}

.cart-summary {
    font-size: 1.25em;
    padding: .25em 0;
}

.cart-summary div:last-child {
    border-bottom: 1px solid rgba(0,0,0,.25);
}
