/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 19, 2017, 6:17:28 PM
    Author     : Roderick Burkhardt
*/

.shadow {
    -webkit-box-shadow: 0px 0px 10px dimgrey;
    box-shadow: 0px 0px 10px dimgrey;
    text-align: center;
    color: black;
    font-family: Verdana;
    padding: 2%;
    margin: 1% 10%;
    overflow: auto;
}

img {
    width: 50%;
    height: auto;
    border: 1px grey solid;
}

.box {
    border: 1px grey solid;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 8px;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 1px #999;
    padding: 5px 10px
}
.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(1px);
}

.button2 {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button2:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button2:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

